<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tus Pedidos - Starclean C.A</title>
    <script src="https://sandbox.paypal.com/sdk/js?client-id=Aa79cJXJqtCNLbbgqiR-Qf9o9EvNhOOkAPhuWId9AqmPeOxc0ByZyq-q7TyKVdVEg3CidLqaYccCiBXJ&components=buttons"></script>




    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/views/pedidos/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>
<body>

    <script src="/views/components/header.js"></script>

<main class="container">
    <!-- Contenido principal -->
    <h2 class="font-weight-bold mb-2">Tus pedidos <span class="badge bg-primary"><%= usuario.nombre %></span></h2>
    <div class="accordion" id="accordionPedidos">
        <% cotizaciones.forEach((cotizacion, index) => { %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= index %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                        Orden #<%= index + 1 %> 
                    </button>
                </h2>
                <div id="collapse<%= index %>" class="accordion-collapse collapse <%= index === 0 ? 'show' : '' %>"
                    aria-labelledby="heading<%= index %>" data-bs-parent="#accordionPedidos">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-bordered caption-top">
                                <caption></caption>
                                <tr>
                                    <th>Producto</th>
                                    <th>Categoria</th>
                                    <th>Cantidad</th>
                                </tr>
                                <% cotizacion.productos.forEach(producto => { %>
                                    <tr>
                                        <td><%= producto.nombre %></td>
                                        <td><%= producto.categoria %></td>
                                        <td><%= producto.cantidad %></td>
                                    </tr>
                                <% }); %>
                            </table>
                        </div>
      
                        <!-- Botón para ver detalles -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalles<%= index %>">
                            Ver detalles
                        </button>
                        <!-- Botón para declarar como pagado -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalPago<%= index %>">
                            Pagar
                        </button>
      
                      
                        <!-- Modal de detalles -->
                        <div class="modal fade" id="modalDetalles<%= index %>" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detalles del pedido</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estado del pedido: <%= cotizacion.estado %> </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <form action="/vercotizaciones/eliminar/<%= cotizacion._id %>" method="POST">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal para declarar como pagado -->
                        <div class="modal fade" id="modalPago<%= index %>" tabindex="-1"
                            aria-labelledby="modalPagoLabel<%= index %>" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalPagoLabel<%= index %>">Verificar pago</h5>
                                        
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                
                                    <div class="modal-body">
                                        
                                        <div id="paypal-button-container<%= index %>" data-cotizacion-id="<%= cotizacion._id %>"></div>


                                        <form action="/vercotizaciones/pagar/<%= cotizacion._id %>" method="POST">
                                            <div class="mb-3">
                                                <label for="monto<%= index %>" class="form-label">Monto</label>
                                                <input type="number" class="form-control" id="monto<%= index %>" name="monto" required>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label for="cuenta<%= index %>" class="form-label">Cuenta desde la que se pagó</label>
                                                <input type="text" class="form-control" id="cuenta<%= index %>" name="cuenta" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="telefono<%= index %>" class="form-label">Número de teléfono</label>
                                                <input type="text" class="form-control" id="telefono<%= index %>" name="telefono" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="numeroTransaccion<%= index %>" class="form-label">Número de transacción</label>
                                                <input type="text" class="form-control" id="numeroTransaccion<%= index %>" name="numeroTransaccion" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="metodoPago<%= index %>" class="form-label">Método de pago</label>
                                                <select class="form-select" id="metodoPago<%= index %>" name="metodoPago" required>
                                                    <option value="Efectivo">Efectivo</option>
                                                    <option value="Pago Móvil">Pago Móvil</option>
                                                    <option value="Transferencia Bancaria">Transferencia Bancaria</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fechaPago<%= index %>" class="form-label">Fecha de pago</label>
                                                <input type="date" class="form-control" id="fechaPago<%= index %>" name="fechaPago" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
      </div>

      <!-- Modal -->
<div class="modal fade" id="paymentSuccessModal" tabindex="-1" aria-labelledby="paymentSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentSuccessModalLabel">Pago Completado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¡Su pago ha sido procesado y será verificado lo más pronto posible! Gracias por su compra.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

</main>

<script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

<script src="/views/pedidos/main.js"></script>

</body>
</html>
