<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cotizaci칩n - Starclean C.A</title>
  <!-- BOOTSTRAP -->
  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <!-- Icono de la pesta침a del navegador -->
  <link rel="stylesheet" href="/views/carrito/style.css">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>

  <script src="/views/components/header.js"></script>
  <main>
    <div class="container">
      <div class="container py-5">
        <div class="texto-info">
          <h2 class="font-weight-bold mb-2">Tu cotizaci칩n</h2>
          <p class="font-italic text-muted mb-4">Verifica los productos y aumenta la cantidad.</p>
        </div>
        <ul class="list-group">
          <% cart.forEach(producto => { %>
            <li class="list-group-item d-flex align-items-center justify-content-between" id="producto-<%= producto.id %>">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <img src="<%= producto.image %>" alt="<%= producto.name %>" class="product-image me-md-3 mb-3 mb-md-0" style="max-width: 100px;">
                <div>
                  <h5 class="mb-0"><%= producto.name %></h5>
                  <p class="mb-0"><small><%= producto.category %></small></p>
                  <div class="input-group mt-2" style="max-width: 150px;">
                    <input type="number" name="cantidad<%= producto.id %>" class="form-control" value="1" min="1" max="500">
                  </div>
                </div>
              </div>
              <!-- Bot칩n de eliminar producto -->
              <button class="btn btn-danger btn-sm" type="button" onclick="eliminarProducto('<%= producto.id %>')">Eliminar</button>
            </li>
          <% }); %>
        </ul>
      
      
        <form action="/proseguircompra" method="POST" id="cotizacionForm">
          <div class="mt-4">
            <button type="submit" class="btn btn-primary btn-5 btn-proceed mt-3">Proseguir con la compra</button>
            <a href="/verproductos" class="btn btn-secondary mt-3">Volver a Ver Productos</a>
          </div>
        </form>
      </div>
      
  </main>
  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="/views/carrito/main.js"></script>
</body>
</html>