<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cotización - Starclean C.A</title>



  <!-- BOOTSTRAP -->

  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <!-- Icono de la pestaña del navegador -->
  <link rel="stylesheet" href="/views/carrito/style.css">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>







  <header>
  
    <!-- Sección izquierda del encabezado -->
    <div class="header-left">
      <div class="logo-star">
      <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px">    </a>
     
     
     
     
     

    </div>




    
      <!-- Menú desplegable de la cuenta -->
      <div class="margin-left-header">

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle btn-special" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button">Limpieza</button></li>
            <li><button class="dropdown-item" type="button">Seguridad industrial</button></li>
            <li><button class="dropdown-item" type="button">Papelería</button></li>
          </ul>
        </div>

       

      
        
      </div>


        <a href=/tuspedidos class="btn btn-secondary e btn-special" type="button" aria-expanded="false">
          Mis compras
        </a>
       
        <a href=/servicioalcliente class="btn btn-secondary e btn-special" type="button" aria-expanded="false">
          Contacto
        </a>
       


     


      
    </div>
    </div>
    <!-- Sección central del encabezado -->
    <div class="header-center">
      <!-- Barra de búsqueda -->
      <input type="text" class="form-control" placeholder="  Buscar producto"  data-bs-toggle="modal" data-bs-target="#exampleModal">

    
      <a  href=/cuenta class="btn btn-secondary e btn-special" type="button" aria-expanded="false">
        Mi cuenta
     </a>

    
      


      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
           
            <div class="modal-body">
              <div class="card" style="width: 18rem;">





                
                <ul class="list-group list-group-flush expand">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary show" data-bs-dismiss="modal">Cerrar</button>
         
            </div>
          </div>
        </div>
      </div>






    </div>
    <!-- Sección derecha del encabezado -->
    <div class="header-right">
      <!-- Enlace al inicio -->

      <div class="dropdown hover-dropdown">

        <svg xmlns="http://www.w3.org/2000/svg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false" class="icon icon-tabler icon-tabler-user-circle" width="42" height="42"
          viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
        </svg>
        </button>
        <ul class="dropdown-menu "  aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/tuspedidos">Pedidos</a></li>
          <li><a class="dropdown-item" href="/iniciarsesion">Iniciar sesión</a></li>


        </ul>
      </div>
    </div>
  </header>

  <main>
    <div class="hero">
      <img src="/public/img/starcleanfull1.webp" class="img-fluid hero">
      
    </div>
    <div class="container">
      <!-- Content here -->




      


      <div class="container py-5">
        <!-- For Demo Purpose-->






    




        <!--  -->

<div class="texto-info">
        <!-- First Row [Prosucts]-->
        <h2 class="font-weight-bold mb-2">Tu cotización  </h2>           </h2> 
        <p class="font-italic text-muted mb-4">Verifica los productos.  </p> 
      </div>

     
        
      
      
      <form action="/proseguircompra" method="POST" id="cotizacionForm">
        <ul class="list-group">
            <% cart.forEach(producto => { %>
                <li class="list-group-item d-flex align-items-center">
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <img src="<%= producto.image %>" alt="<%= producto.name %>" class="product-image me-md-3 mb-3 mb-md-0" style="max-width: 100px;">
                        <div>
                            <h5 class="mb-0"><%= producto.name %></h5>
                            <p class="mb-0"><small><%= producto.category %></small></p>
                            <div class="input-group mt-2" style="max-width: 150px;">
                                <input type="number" name="cantidad<%= producto.id %>" class="form-control" value="1" min="1" max="500">
                            </div>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary btn-proceed mt-3">Proseguir con la compra</button>
            <a href="/verproductos" class="btn btn-secondary mt-3">Volver a Ver Productos</a>
        </div>
    </form>
    

        




  </main>










  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="/views/carrito/main.js">






  
</script>
</body>

</html>