<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A - Configuración de la cuenta</title>

    <!-- Enlace a la fuente Montserrat de Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/plantilla-configuracion/style.css">
</head>
<body>

  <script src="/views/components/header.js"></script>

  <main>
    <div class="container">
      <section class="titulo">
        <h2 class="font-weight-bold mb-4">Configuración de la cuenta <span class="badge bg-dark"><%= usuarioActual.nombre %></span></h2>
      </section>

      <section class="card">
        <h5 class="card-header">Cambiar configuración de la cuenta</h5>
        <div class="card-body">
          <form id="formulario" action="/api/users/editar/<%= usuarioActual._id %>" method="POST">
            <!-- Campos para editar -->
            <input type="text" name="nombre" value="<%= usuarioActual.nombre %>">
            <input type="email" name="correo" value="<%= usuarioActual.correo %>">
            <input type="password" name="contraseña" placeholder="Nueva contraseña">
            <input type="text" name="direccion" value="<%= usuarioActual.direccion %>">
            <input type="text" name="ciudad" value="<%= usuarioActual.ciudad %>">
            <input type="text" name="rif" value="<%= usuarioActual.rif %>">
            <input type="text" name="number" value="<%= usuarioActual.number %>">
            <button type="submit">Actualizar</button>
        </form>
        
        </div>
      </section>
    </div>
  </main>




  <script src="/views/plantilla-configuracion/main.js"></script>
  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
