<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A - Configuración de la cuenta</title>

    <!-- Enlace a la fuente Montserrat de Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/plantilla-configuracion/style.css">
</head>
<body>

  <script src="/views/components/header.js"></script>

  <main>
    <div class="container">
      <section class="titulo">
        <h2 class="font-weight-bold mb-4">Configuración de la cuenta <span class="badge bg-dark"><%= usuarioActual.nombre %></span></h2>
      </section>

      <section class="card">
        <h5 class="card-header">Cambiar configuración de la cuenta</h5>
        <div class="card-body">
          <form id="configuracionForm" action="/editar/<%= usuarioActual._id %>" method="POST">

           
            <!-- Nombre -->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuarioActual.nombre %>" >
            </div>
            <!-- Correo -->
            <div class="mb-3">
              <label for="correo" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="correo" name="correo" value="<%= usuarioActual.correo %>" >
            </div>
            <!-- Contraseña -->
            <div class="mb-3">
              <label for="contraseña" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" id="contraseña" name="contraseña">
            </div>
            <!-- Dirección -->
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="direccion" name="direccion" value="<%= usuarioActual.direccion %>" >
            </div>

            <!-- Ciudad -->
            <div class="mb-3">
              <label for="ciudad" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="ciudad" name="ciudad" value="<%= usuarioActual.ciudad %>" >
            </div>

            <!-- Rif -->
            <div class="mb-3">
              <label for="rif" class="form-label">RIF</label>
              <input type="text" class="form-control" id="rif" name="rif" value="<%= usuarioActual.rif %>" >
            </div>

            <!-- Número de teléfono -->
            <div class="mb-3">
              <label for="number" class="form-label">Número de teléfono</label>
              <input type="tel" class="form-control" id="number" name="number" value="<%= usuarioActual.number %>" >
            </div>

            <!-- Botón de actualizar -->
            <button type="submit" class="btn btn-success">Actualizar</button>
          </form>
        </div>
      </section>
    </div>
  </main>




  <script src="/views/plantilla-configuracion/main.js"></script>
  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
