<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Starclean C.A Venezuela - Envios Gratis</title>



  <!-- BOOTSTRAP -->

<!-- Agrega esto en el <head> de tu HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <!-- Icono de la pestaña del navegador -->
  <link rel="stylesheet" href="/views/home/style.css">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>



  
<header>
  <div class="header-left">
      <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>
  </div>

  <div class="header-center">
    <% if (usuario && usuario.nombre) { %>
        <!-- Mostrar enlaces si el usuario está autenticado -->
        <a href="/tuspedidos" class="btn btn-special btn-center" type="button" aria-expanded="false">Mis pedidos</a>
        <a href="/cuenta" class="btn btn-special btn-center" type="button" aria-expanded="false">Mi cuenta</a>
        <a href="/servicioalcliente" class="btn btn-special btn-center" type="button" aria-expanded="false">Contacto</a>


      <% if (usuario.esAdmin) { %>

        <a href="/administrar" class="btn btn-special btn-center" type="button" aria-expanded="false">Administrar</a>


        <% } %>

    <% } else { %>
        <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
        <a href="/iniciarsesion" class="btn btn-special btn-center" type="button" aria-expanded="false">Iniciar sesión</a>
        <a href="/registrarse" class="btn btn-special btn-center" type="button" aria-expanded="false">Registrarse</a>
        <a href="/servicioalcliente" class="btn btn-special btn-center" type="button" aria-expanded="false">Contacto</a>
    <% } %>
</div>

  <!-- Dropdown de cuenta para pantallas grandes -->
  <div class="header-right">
      <div class="dropdown hover-dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="icon icon-tabler icon-tabler-user-circle" width="42" height="42" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
          </svg>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% if (usuario && usuario.nombre) { %>
                  <li><a class="dropdown-item" href="/cuenta">Cuenta</a></li>
                  <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
              <% } else { %>
                  <li><a class="dropdown-item" href="/iniciarsesion">Iniciar sesión</a></li>
                  <li><a class="dropdown-item" href="/registrarse">Registrarse</a></li>
              <% } %>
          </ul>
      </div>
  </div>

  <!-- Menú hamburguesa y menú desplegable para pantallas móviles -->
  <div class="header-right-mobile">
      <div class="menu-hamburguesa" id="menuHamburguesa">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
      </div>
      <div class="menu-desplegable" id="menuDesplegable">
          <ul>
              <% if (usuario && usuario.nombre) { %>
                  <li><a href="/cuenta">Cuenta</a></li>
                  <li><a href="/tuspedidos">Mis pedidos</a></li>
                  <li><a href="/logout">Cerrar sesión</a></li>


                  <% if (usuario.esAdmin) { %>

                    <li><a href="/administrar">Administrar</a></li>
            
            
                    <% } %>
            


              <% } else { %>
                  <li><a href="/iniciarsesion">Iniciar sesión</a></li>
                  <li><a href="/registrarse">Registrarse</a></li>
              <% } %>
              <li><a href="/servicioalcliente">Contacto</a></li>
          </ul>
      </div>
  </div>
</header>


  




  <main>
    <div class="hero">
      <img src="/public/img/herostar5.webp" class="img-fluid hero-image" alt="Hero Image">
    </div>
    <div class="container">
      <!-- Content here -->

<!-- Contenedor para las alertas -->
<div id="alertContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
  <!-- Los alertas se añadirán aquí -->
</div>

<!-- Estrella de Like (inicialmente oculta) -->
<div id="likeEffect" class="like-effect">
  <div class="star">&#9733;</div>
</div>

      


      <div class="container py-5">
        <!-- For Demo Purpose-->



        <div class="cuentainfo">

          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card card-special">
                
                <div class="card-content">
                  <a href=/verproductos class="link-none-two">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="46" fill="currentColor"
                          class="bi bi-cart" viewBox="10 0 16 16">
                          <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                      </div>
                      <div class="media-body text-right">
                        <h3>Cotizar </h3>
                        <span class="small text-muted font-italic turnwhite">Ver productos</span>

                      </div>
                  
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card card-special">
                <div class="card-content">
                  <div class="card-body">
                    <a class="link-none-two"  <% if (usuario && usuario.nombre) { %>href="/cuenta"<% } else { %>href="/iniciarsesion"<% } %>>
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="46" fill="currentColor"
                          class="bi bi-person-circle" viewBox="10 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                          <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                      </div>
                      <div class="media-body text-right">
                        <% if (usuario && usuario.nombre) { %>
                            <h3><%= usuario.nombre %></h3>
                            <span class="small text-muted font-italic">Ir a tu cuenta</span>
                            <!-- Mostrar más detalles del usuario si es necesario -->
                        <% } else { %>
                            <h3>Inicia sesión</h3>
                            <span class="small text-muted font-italic turnwhite">O crea una cuenta</span>
                        <% } %>
                    </div>
                    
                    </div>
                 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card card-special">
                <div class="card-content">
                  <div class="card-body">

                    <a href=# class="link-none-two" id="verFavoritos">

                    <div class="media d-flex">
                      <div class="align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="46" fill="currentColor"
                          class="bi bi-bookmark" viewBox="10 0 16 16">
                          <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                        </svg>
                      </div>
                      <div class="media-body text-right">
                        <h3>Favorito</h3>
                        <span class="small text-muted font-italic turnwhite">Ver favoritos</span>
                      </div>
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card card-special">
                <div class="card-content">
                  <div class="card-body">
                    <a href=/tuspedidos class="link-none-two">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="46" fill="currentColor"
                          class="bi bi-receipt" viewBox="10 0 16 16">
                          <path
                            d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27m.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0z" />
                          <path
                            d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5" />
                        </svg>
                      </div>
                      <div class="media-body text-right">
                        <h3>Pedidos</h3>
                        <span class="small text-muted font-italic turnwhite" >Revisar pedidos</span>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>




        <div class="modal fade" id="favoriteModal" tabindex="-1" aria-labelledby="favoriteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="favoriteModalLabel">Productos Favoritos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <ul id="favoriteList" class="list-group">
                          <!-- Los productos favoritos se añadirán aquí dinámicamente -->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    




      <div class="container">
        <div class="row">
            <!-- Aquí empieza la sección de tabs solo para móviles -->
            <div class="col-12 d-block d-md-none">
                <div class="tab-buttons">
                    <div class="tab-button active" data-tab="cotizar">Cotizar</div>
                    <div class="tab-button" data-tab="favoritos">Favoritos</div>
                    <div class="tab-button" data-tab="opcion3">Opción 3</div>
                    <div class="tab-button" data-tab="opcion4">Opción 4</div>
                </div>
                <div class="tab-content active" id="cotizar">
                    <!-- Contenido de la pestaña Cotizar -->
                    <p>Contenido de Cotizar.</p>
                </div>
                <div class="tab-content" id="favoritos">
                    <!-- Contenido de la pestaña Favoritos -->
                    <p>Contenido de Favoritos.</p>
                </div>
                <div class="tab-content" id="opcion3">
                    <!-- Contenido de la pestaña Opción 3 -->
                    <p>Contenido de Opción 3.</p>
                </div>
                <div class="tab-content" id="opcion4">
                    <!-- Contenido de la pestaña Opción 4 -->
                    <p>Contenido de Opción 4.</p>
                </div>
            </div>
            <!-- Aquí termina la sección de tabs solo para móviles -->















        <!-- First Row [Prosucts]-->
        <h2 class="font-weight-bold mb-2">Productos relevantes</h2>
        <p class="font-italic text-muted mb-4">Una selección de productos para tí.</p>


        <div class="row pb-5 mb-4">
          <% productos.forEach(producto => { %>
              <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                  <div class="card rounded shadow-sm border-0" data-producto-id="<%= producto._id %>">
                      <div class="card-body p-4">
                          <!-- Contenedor para la imagen y el ícono -->
                          <div class="image-container">
                              <!-- Imagen del producto -->
                              <img src="<%= producto.imagen.data %>" alt="Imagen del producto" class="img-fluid product-image">
                          </div>
                          <!-- Nombre del producto -->
                          <h5><a href="#" class="text-dark"><%= producto.nombre %></a></h5>
                          <!-- Categoría del producto -->
                          <p class="small text-muted font-italic"><%= producto.categoria %></p>
                          <!-- Botones -->
                          <div class="card-buttons">
                            <button class="btn btn-add">Solicitar cotización</button>
                            <a href="#" class="btn btn-star" data-producto-id="<%= producto._id %>">
                              <i class="fa fa-star"></i>
                          </a>
                           
                          </div>
                      </div>
                  </div>
              </div>
          <% }); %>
        </div>
        
      



      







       </div>






        </div>




  </main>

  <footer class="text-center text-lg-start text-dark" style="background-color: rgb(247, 247, 247)">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        STARCLEAN C.A
                    </h6>
                    <p>
                        Productos de limpieza, seguridad industrial, papelería.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
                    <p>
                        Limpieza
                    </p>
                    <p>
                        Papelería
                    </p>
                    <p>
                        Seguridad Industrial
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Información</h6>
                    <p>
                        <a class="text-dark">Instagram</a>
                    </p>
                    <p>
                        <a class="text-dark">Facebook</a>
                    </p>
                    <p>
                        <a class="text-dark">YouTube</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p><i class="fas fa-home mr-3"></i> Calle Macaira, Guatire, Venezuela</p>
                    <p><i class="fas fa-phone mr-3"></i> +58 416 524 9664</p>
                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">
                        © 2024 Copyright:
                        <a class="text-dark">Ed. Técnica</a>
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-dark" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-dark" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-dark" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-dark" role="button"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>










  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/views/home/main.js"></script>
</body>

</html>