<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clientes - Starclean C.A</title>

    <!-- BOOTSTRAP -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/clientes/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>
    <script src="/views/components/headeradmin.js"></script>
    <main>
        <div class="container">
            <div class="table-div">
                <aside>
                    <nav>
                        <ul>
                            <li><a href="/html/aprende.html">Gestión de Productos</a></li>
                            <p>Agregar, editar y eliminar productos.</p>
                            <li><a href="/html/soporte.html">Gestión de Cotizaciones</a></li>
                            <p>Visualización y gestión de las solicitudes de cotización recibidas de los clientes.</p>
                            <li><a href="/html/about.html">Administración de Clientes</a></li>
                            <p>Mantén un registro de los clientes registrados y sus detalles.</p>
                        </ul>
                    </nav>
                </aside>

                <!-- Contenido principal -->
                <div class="container-right">
                    <div class="accordion" id="accordionExample">
                        <% users.forEach(user => { %>
                        <div class="card mb-3">
                            <div class="card-header" id="heading-<%= user._id %>">
                                <h2 class="mb-0">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-<%= user._id %>" aria-expanded="false"
                                        aria-controls="collapse-<%= user._id %>">
                                        <%= user.nombre %>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse-<%= user._id %>" class="collapse" aria-labelledby="heading-<%= user._id %>"
                                data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Nombre: <%= user.nombre %></li>
                                        <li class="list-group-item">Teléfono: <%= user.number %></li>
                                        <li class="list-group-item">Dirección: <%= user.direccion %></li>
                                        <li class="list-group-item">Ciudad: <%= user.ciudad %></li>
                                        <li class="list-group-item">Correo: <%= user.correo %></li>
                                        <li class="list-group-item">RIF: <%= user.rif %></li>
                                    </ul>
                                    <!-- Botón de eliminar -->
                                    <button class="btn btn-danger mt-3"
                                        onclick="eliminarUsuario('<%= user._id %>')">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/views/clientes/main.js"></script>
</body>

</html>
